@import url('https://fonts.googleapis.com/css?family=Orbitron');

body, html {
  background-image: url(././images/serenity.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h4 {
  color: #43AFB1;
}

hr {
  border-width: 3px;
}

p {
  padding: 2em;
}

#bar {
  line-height: 5em;
}

.page {
  float: none;
  margin: 5em auto;
  text-align: center;
}

.skillset {
  float: none;
  margin: 0 auto;
  display: inline;
}

.jumbotron {
  color: white;
  margin-top: 20em;
  border: .2em solid white;
  background-color: rgba(19, 103, 142, 0.49);
  -webkit-animation-delay: .3s;
  -webkit-animation-duration: 1s;
  text-shadow: 4px 4px 5px black;
}

.skillBack {
  background-color: rgba(19, 103, 142, 0.49);
  border: .2em solid white;
  border-radius: .5em .5em 0 0;
  color: white;
}

.col-xs-2 {
  float: none;
  margin: 0 auto;
  display: inline-block;
}

.text {
  background-color: white;
}

input {
  margin: 2em 0;
}

.butn {
  color: black;
}

.cont {
  margin-top: 0em;
  margin: 0 auto;
  color: white;
  padding: 2em 15em;
  border: 2px solid white;
  border-radius: .5em;
  background-color: rgba(19, 103, 142, 0.49);
  word-spacing: 3em;
}

footer {
  color: white;
  margin-top: 10em;
}

.social {
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  margin-right: 3em;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
  background-color: white;
  transition: all 0.3s;
}

.github-social {
  color: #272628;
}

.codepen-social {
  color: #272628;
}

.fcc-social {
  color: #106E29;
}

.twitter-social {
  color: #55acee;
}

.linkedin-social {
  color: #007bb5;
}

.deviant-social {
  color: #06D93B;
}

.mail-social {
  color: #D92906;
}

.medium-social {
  color: #3cb371;
}

.contact-buttons > a {
  transition: all .5s;
}

.contact-buttons > a:hover,
.contact-buttons > a:focus {
  border: none;
}

a.github-social:hover{
  color: white;
  background-color: #272628;
}

a.codepen-social:hover{
  color: white;
  background-color: #272628;
}

a.fcc-social:hover{
  color: white;
  background-color: #106E29;
}

a.twitter-social:hover{
  color: white;
  background-color: #55acee;
}

a.linkedin-social:hover{
  color: white;
  background-color: #007bb5;
}

a.deviant-social:hover{
  color: white;
  background-color: #06D93B;
}

a.medium-social:hover{
  color: white;
  background-color: #3cb371;
}

a.mail-social:hover{
  color: white;
  background-color: #D92906;
}

.soc {
  color: white;
}

.aButton:hover {
text-shadow: 6px 6px 6px black;
}
